<mat-toolbar class="table-toolbar">
    <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
        arrow_back
    </mat-icon>
    <span> {{ path || 'root' }} </span>
    <span class="fill-space"></span>   
    <mat-button-toggle-group #filesView="matButtonToggleGroup" value="grid">
        <mat-button-toggle value="list">
            <mat-icon class="pointer">view_list</mat-icon>        
        </mat-button-toggle>
        <mat-button-toggle value="grid">
            <mat-icon class="pointer">view_module</mat-icon>        
        </mat-button-toggle>
    </mat-button-toggle-group>   
    <mat-icon class="pointer" (click)="openNewFolderDialog()">
        create_new_folder
    </mat-icon>
    <button *ngIf="filesView.value === 'grid'" data-cy="selectAll" mat-raised-button (click)="selectContainer.selectAll()">Select All</button>
    <button *ngIf="filesView.value === 'grid'" data-cy="clearSelection" mat-raised-button (click)="selectContainer.clearSelection()">Clear Selection</button>
</mat-toolbar>

<dts-select-container #selectContainer="dts-select-container" [(selectedItems)]="selectedDocuments" (select)="someMethod($event)">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="content" fxFlex fxLayout="row">        
            <mat-grid-list *ngIf="filesView.value === 'grid'" cols="8" rowHeight="100px" fxFlex>
                <mat-grid-tile *ngFor="let element of fileElements" class="file-or-folder" [dtsSelectItem]="element">
                    <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
                    <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)">
                        <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="element.isFolder">folder</mat-icon>
                        <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="!element.isFolder">insert_drive_file</mat-icon>
                        <span>{{ element.name }}</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <table mat-table [dataSource]="fileElements" *ngIf="filesView.value === 'list'">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="preview">
                    <th mat-header-cell *matHeaderCellDef>Preview</th>
                    <td mat-cell *matCellDef="let element" (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)">
                        <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
                        <mat-icon color="primary" class="pointer" *ngIf="element.isFolder">folder</mat-icon>
                        <mat-icon color="primary" class="pointer" *ngIf="!element.isFolder">insert_drive_file</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">jpg</td>
                </ng-container> 
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef>Size</th>
                    <td mat-cell *matCellDef="let element">10kb</td>
                </ng-container>   
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
            </table>
        </div>
    </div>
</dts-select-container>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent let-element="element">
        <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
            <mat-icon>open_with</mat-icon>
            <span>Move To</span>
        </button>
        <button mat-menu-item (click)="openRenameDialog(element)">
            <mat-icon>edit</mat-icon>
            <span>Rename</span>
        </button>
        <button mat-menu-item (click)="deleteElement(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
    <ng-template matMenuContent let-self="self">
        <ng-container *ngFor="let element of fileElements">
            <button *ngIf="element.isFolder && element.id !== self.id" mat-menu-item (click)="moveElement(self, element)">
                {{element.name}}
            </button>
        </ng-container>
    </ng-template>
</mat-menu>
