@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '../node_modules/primeng/resources/themes/nova-colored/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

main {
    padding: 16px;
}

mat-sidenav {
    width: 250px;
}

.mat-sidenav-container {
    height: 100vh;
}

.fill-space {
    flex: 1 1 auto;
}

.route-icon {
    padding-right: 8px;
}

.nav-chevron {
    display: inline-flex;
    vertical-align: middle;    
}

table {
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-toast {
	position: fixed;
    width: 20em;
}

.ui-toast .ui-toast-message {
    position: relative;
	display: block;
    margin-bottom: .75em;
    overflow: hidden;
}

.ui-toast .ui-toast-message-content {
    padding: .5em 1em;
}

.ui-toast .ui-toast-close-icon {
	position: absolute;
	top: .25em;
	right: .25em;
    cursor: pointer;
    display: inline-block;
}

.ui-toast .ui-toast-summary {
	font-weight: bold;
	padding: 0 0 .5em 0;
	display: block;
}

.ui-toast .ui-toast-icon {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: .25em;
    padding: 0;
    font-size: 2em;
}

.ui-toast .ui-toast-message-text-content {
	padding: 0 0 .25em 0;
    margin-left: 2.5em;
}
/* Positions */
.ui-toast-top-right {
	top: 20px;
	right: 20px;
}

.ui-toast-top-left {
	top: 20px;
	left: 20px;
}

.ui-toast-bottom-right {
	bottom: 20px;
	right: 20px;
}

.ui-toast-bottom-left {
	bottom: 20px;
	left: 20px;
}

.ui-toast-top-center {
	top: 20px;
    left: 50%;
    margin-left: -10em;
}

.ui-toast-bottom-center {
	bottom: 20px;
	left: 50%;
    margin-left: -10em;
}

.ui-toast-center {
	left: 50%;
	top: 50%;
    min-width: 20vw;
    transform: translate(-50%, -50%);
}

.ui-shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.ui-toast-message-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}
.ui-toast ui-toast-message-success .ui-toast-close-icon {
  color: #212121;
}