<div fxFlex.gt-sm="40" fxFlex.sm="100" fxFlexOffset.gt-sm="30" fxLayout="column" fxLayoutGap="16px">
    <mat-card>
        <mat-card-title>
            {{ 'user.profile' | translate | capitalizeFirst }}
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="user">
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <ul *ngFor="let role of user.roles">
                    <li>{{ role }}</li>
                </ul> 
                <button mat-raised-button [routerLink]="['/user/profile/edit', user.id]">
                    {{ 'edit' | translate | capitalizeFirst }}
                </button>               
            </div>
        </mat-card-content>
    </mat-card>
</div>
